@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  background: #FFFFFF;
  height: 51px;
  border-bottom: 1px solid black; }

.flex-container {
  width: 979px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px; }
  .flex-container ul {
    display: flex; }
  .flex-container li {
    padding: 10px;
    list-style-type: none; }

a:link {
  text-decoration: none; }

.insta {
  display: flex;
  width: 5em;
  align-items: center; }

body {
  background: #FAFAFA;
  font-family: "Nunito Sans", sans-serif; }

button {
  border: 1px solid #4c9d2c;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #a1ce8f;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #70C050;
  background-image: -webkit-linear-gradient(#70C050, #52a82f);
  background-image: linear-gradient(#70C050, #52a82f);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #78d054;
  background-clip: padding-box;
  color: white; }
  button:hover:not(:disabled) {
    background-color: #65b046;
    background-image: -webkit-linear-gradient(#65b046, #4d9c2d);
    background-image: linear-gradient(#65b046, #4d9c2d);
    box-shadow: inset 0 1px 0 0 #83bf6a;
    cursor: pointer; }
  button:active:not(:disabled), button:focus:not(:disabled) {
    border: 1px solid #4c9d2c;
    box-shadow: inset 0 0 8px 4px #478f2b, inset 0 0 8px 4px #478f2b; }
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

img {
  max-width: 100%;
  padding: .5em; }
img:hover {
  opacity: .5; }

.arrow {
  flex-direction: row;
  width: 3em; }

.avatar {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../img/girl-lip.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.box {
  margin-top: 2em;
  display: flex;
  justify-content: center; }
  .box ul {
    display: flex; }
  .box li {
    padding: 10px;
    list-style-type: none; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container .box:last-child {
      margin-right: 0; }

.icons {
  width: 40px; }

.logo {
  width: 3em; }

.search {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  text-align: center;
  position: relative; }

footer {
  font-size: .8em;
  margin-top: 2em;
  display: flex;
  margin-bottom: 2.2em; }
  footer ul {
    display: flex; }
  footer li {
    padding: 10px;
    list-style-type: none; }

.copyright {
  color: #999999;
  flex-direction: row; }

@media only screen and (max-width: 735px) {
  img {
    padding: 0; }

  .logo {
    width: 2em; } }
@media only screen and (max-width: 455px) {
  .search {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
